title: project-huitfeldt-kaas-title
type: document
image: huitfeldt-kaas.jpg
description: project-huitfeldt-kaas-description
georeference: true
template: pdf
help:
  introduction: prosjektinfo
source:
  document: /static/huitfeldt-kaas.pdf
  pages: 176
  shift: -1
  index:
    - { page: 27, text: Første indvandrere }
    - { page: 27, text: Røie (Salmo alpinus), scientificName: Salmo alpinus }
    - { page: 45, text: 3-pigget stingsild (Gasterosteus aculeatus), scientificName: Gasterosteus aculeatus }
    - { page: 48, text: Ørret (Salmo eriox), scientificName: Salmo eriox }
    - { page: 49, text: Finnmarksfiskene }
    - { page: 49, text: Sik (Coregonus lavaretus), scientificName: Coregonus lavaretus  }
    - { page: 52, text: Abbor (Perca fluviatilis), scientificName: Perca fluviatilis }
    - { page: 57, text: Lake (Lota lota), scientificName: Lota lota }
    - { page: 60, text: Gjedde (Esox lucius), scientificName: Esox lucius }
    - { page: 64, text: Harr (Thymallus thymallus), scientificName: Thymallus thymallus }
    - { page: 67, text: Ørekyte (Phoxinus aphya), scientificName: Phoxinus aphya }
    - { page: 71, text: Elvenegenøie (Petromyzon fluviatilis), scientificName: Petromyzon fluviatilis }
    - { page: 73, text: 10-pigget stingsild (Gastoresteus pingitius), scientificName: Gastoresteus pingitius }
    - { page: 74, text: Mjøsen – (Odals) Storsjøfiskene }
    - { page: 74, text: Mort (Leuciscus rutilus), scientificName: Leuciscus ritulus }
    - { page: 77, text: Lagesild (Coregonus albula), scientificName: Coregonus albula }
    - { page: 78, text: Slom (Osmerus eperlanus), scientificName: Osmerus eperlanus }
    - { page: 80, text: Brasme (Abramis brama), scientificName: Abramis brama }
    - { page: 81, text: Lane (Aspius alburnus), scientificName: Aspius alburnus }
    - { page: 82, text: Haslong (Leuciscus grislagine), scientificName: Leuciscus grislagine }
    - { page: 84, text: Vederbuk (Leuciscus idus), scientificName: Leuciscus idus }
    - { page: 85, text: Steinsmet (Cottus gobio v. poecilopus), scientificName: Cottus gobio v. poecilopus }
    - { page: 86, text: Hork (Acerina cernua), scientificName: Acerina cernua }
    - { page: 87, text: Øieren – Smaalensfiskene }
    - { page: 87, text: Flire (Abramis blicca), scientificName: Abramis blicca }
    - { page: 89, text: Gjørs (Lucioperca lucioperca), scientificName: Lucioperca lucioperca }
    - { page: 89, text: Stamme (Leuciscus cephalus), scientificName: Leuciscus cephalus }
    - { page: 90, text: Asp (Aspius aspius), scientificName: Aspius aspius }
    - { page: 90, text: Sørv (Leuciscus erythropthalmus), scientificName: Leuciscus erythropthalmus }
    - { page: 91, text: Fiskearter som kun en del av sit liv opholder sig i ferskvand }
    - { page: 91, text: Laks (Salmo salar), scientificName: Salmo salar }
    - { page: 93, text: Skrubbeflyndre (Pleuronectes flemus), scientificName: Pleuronectes flemus }
    - { page: 94, text: Aal (Anguilla anguilla), scientificName: Anguilla anguilla }
    - { page: 98, text: Havnegenøie (Petromyzon marinus), scientificName: Petromyzon marinus }
    - { page: 99, text: Fiskearter (og varieteter) som i historisk tid er indført i Norge }
    - { page: 99, text: Karus (Cyprinus carassius), scientificName: Cyprinus carassius }
    - { page: 100, text: Karpe (Cyprinus carpio), scientificName: Cyprinus carpio }
    - { page: 100, text: Suter (Thinca vulgaris), scientificName: Thinca vulgaris }
    - { page: 100, text: Guldfisk (Cyprinus auratus), scientificName: Cyprinus auratus }
    - { page: 101, text: Bækkerøie (Salmo fontinalis), scientificName: Salmo fontinalis }
    - { page: 101, text: Dvergmalle (Amiurus catus), scientificName: Amiurus catus }
    - { page: 101, text: Blackbas (Micropterus salmonoides), scientificName: Micropterus salmonides }
    - { page: 101, text: Regnbueørret (Salmo iridens), scientificName: Salmo iridens }
    - { page: 102, text: Guldvederbuk (Leuciscus idus v. auratus), scientificName: Leuciscus idus v. auratus }
    - { page: 102, text: Krebsens utbredelse og indvandring }
    - { page: 104, text: Literaturfortegnelse }
    - { page: 108, text: Kartfortegnelse }
  dzi: /static/huitfeldt/
key: _none
markings: True
sticky: scientificName, currentPage
order: [ annotation, taxonomy, locality, comment ]
forms:
  annotation:
    - { name: "annotation", type: annotation }
    - { name: "currentPage", type: hidden }
  taxonomy:
    - { name: "scientificName", type: text, pick: [Salmo alpinus, Gasterosteus aculeatus, Salmo eriox, Coregonus lavaretus, Perca fluviatilis, Lota lota, Esox lucius, Thymallus thymallus, Phoxinus aphya, Petromyzon fluviatilis, Gastoresteus pingitius, Leuciscus ritulus, Coregonus albula, Osmerus eperlanus, Abramis brama, Aspius alburnus, Leuciscus grislagine, Leuciscus idus, Cottus gobio v. poecilopus, Acerina cernua, Abramis blicca, Lucioperca lucioperca, Leuciscus cephalus, Aspius aspius, Leuciscus erythropthalmus, Salmo salar, Pleuronectes flemus, Anguilla anguilla, Petromyzon marinus, Cyprinus carassius, Cyprinus carpio, Thinca vulgaris, Cyprinus auratus, Salmo fontinalis, Amiurus catus, Micropterus salmonides, Salmo iridens, Leuciscus idus v. auratus] }
  locality:
    - { name: "locality", type: text, path: "/lookup/nve" }
    - { name: "verbatimLocality", type: text }
    - { name: "footprintWKT", type: text, disabled: true }
    - { name: "locationID", type: text }
    - { name: "verbatimElevation", type: text }
    - { name: "decimalLatitude", type: hidden }
    - { name: "decimalLongitude", type: hidden }
    - { name: "coordinateUncertaintyInMeters", type: hidden }
    - { name: "locationRemarks", type: textfield }
    - { name: "introduced", type: checkbox }
  comment:
    - { name: "annotationRemarks", type: textfield }
submit: transcribe
sort: ['scientificName', 'locality']
